<div class="jumbotron">
  <h1 class="display-4"><%= @event.title%></h1>
  <p class="lead">Event Description: <%= @event.description%></p>
  <p class="lead">Venue: <%= @event.location%></p>
  <p class="lead"><%= @event.date.to_date.to_formatted_s(:long) %></p>
  <hr class="my-4">
  <p>Event created by: <%= @event.creator.name %></p>
  <%= button_to 'Attend Event', attend_path, params: { event_id: @event.id }, method: 'get', class: 'btn btn-success btn-lg' %>
</div>
<%# <input type='button', onclick="window.location='/attend'" class='btn btn-success btn-sm' value='Attend Event'> %>