<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Private Events', root_path, { class: 'navbar-brand' } %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to 'Home', root_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'All Events', events_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to 'Create a new Event', new_event_path, class: 'nav-link btn btn-success btn-sm text-white' %>
      </li>
    </ul>
  </div>
</nav>